KUBELET_ARGS="\
    --hostname-override={{ ansible_default_ipv4.address }} \
    --config=/etc/kubernetes/kubelet.conf \
    --cgroup-driver=systemd \
    --pod-infra-container-image={% if not yum_config_internet %}{{registry_url}}{% else %}rancher{% endif %}/pause:3.1 \
    --bootstrap-kubeconfig=/etc/kubernetes/bootstrap.kubeconfig \
    --kubeconfig=/etc/kubernetes/kubelet.kubeconfig  \
    --cert-dir=/etc/kubernetes/pki \
    --root-dir=/var/lib/kubelet \
    --network-plugin=cni \
    --rotate-certificates \
    --runtime-cgroups=/systemd/system.slice \
    --kubelet-cgroups=/systemd/system.slice \
    --v=4"